@model Dictionary<string, string>



<section>
    <div class="subscribe text-center ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4>OUR NEWSLETTER</h4>
                    <h3>@Model.First(s => s.Key == "SubsTitle").Value</h3>
                    <p class="subs-description">
                        @Model.First(s => s.Key == "SubDesc").Value
                    </p>
                    <div class="input ">
                        <input class="inpt" type="email" name="" id="" placeholder="Your email address">
                        <input class="smbt" type="submit" value="Subscribe">
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</section>

<footer>
    <section class="footer-area bg_cover">
        <div class="footer-widget pt-30 pb-70">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <div class="footer-link-wrapper d-flex flex-wrap justify-content-between ">
                            <div class="footer-link mt-50 ">
                                <h4 class="footer-title">Information</h4>

                                <ul class="link">
                                    <li><a asp-controller="shop" asp-action="index">Product</a></li>
                                    <li><a asp-controller="shop" asp-action="index">Shop</a></li>
                                    <li><a asp-controller="about" asp-action="index">About us</a></li>
                                    <li><a asp-controller="contact" asp-action="index">Contact us</a></li>
                                </ul>
                            </div>

                            <div class="footer-link mt-50">
                                <h4 class="footer-title">About Us</h4>
                                <ul class="link">
                                    <li><a asp-controller="about" asp-action="index">About Our Shop</a></li>
                                    <li><a asp-controller="ourteam" asp-action="index">Our Team </a></li>
                                    <li><a asp-controller="about" asp-action="index">Delivery infomation</a></li>
                                    <li><a asp-controller="contact" asp-action="index">Store Locations</a></li>
                                </ul>
                            </div>
                            <div class="footer-link mt-50">
                                <h4 class="footer-title">LOOKING FOR GOSTO?</h4>
                                <ul class="link">

                                    <li><a><i class="fas fa-map-marker-alt"></i> @Model.First(s => s.Key == "FooAdress").Value</a></li>
                                    <li> <a href="tell:@Model.First(s => s.Key == "FooPhone").Value"><i class="fas fa-phone"></i>@Model.First(s => s.Key == "FooPhone").Value</a></li>
                                    <li><a href="@Model.First(s => s.Key == "FooEmail").Value"><i class="fas fa-envelope"></i>@Model.First(s => s.Key == "FooEmail").Value</a></li>
                                    <li><a><i class="far fa-clock"></i> @Model.First(s => s.Key == "FooTime").Value</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="footer-copyright align-items-center">
            <div class="container">
                <div class="footer-copyright-payment text-center d-lg-flex justify-content-between align-items-center">
                    <div class="copyright-text">
                        <p>Copyright 2020 &copy; <a>HasThemes</a> . All Rights Reserved</p>
                    </div>
                    <div class="payment">
                        <img src="~/assets/img/Footer/payment.png" alt="payment">
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>