@model IEnumerable<Gosto.Models.Brand>

@{
    ViewData["Title"] = "Index";
}


<div style=" width: 86%; margin-left: 17%; margin-top: 5%;">
    <h1>Brand</h1>

    <p>
        <a class="btn btn-dark" asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BrandInfo)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img width="100" src="~/assets/img/Brand/@item.Image" alt="Alternate Text" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandInfo)
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-action="update" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-dark" asp-action="Detail" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-dark delete-btn" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@*@section Scripts{
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        $(".delete-btn").click(function (e) {
            e.preventDefault()
            console.log($(this).attr("href"))
            Swal.fire({
                title: 'Silmek istediyinizden eminsiz?',
                text: "Bunu geri qaytara bilməyəcəksiniz!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Beli, Eminem!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var link = $(this).attr("href");
                    fetch(link).then(response => response.json()).then(data => {
                        if (data.status == 200) {
                            location.reload(true)
                        } else if(data.status == 400){
                            Swal.fire(
                                'Silmek olmaz!',
                                'Bu brandla bagli Datalar var.'
                            )
                        }



                    }
                    );
                }
            })
        })
    </script>
}*@