@model BlogVM


@foreach (Comment item in Model.Blog.Comments)
{
    if (Model.Blog.Comments != null)
    {
        if (item.IsAccepted == true)
        {
            <div class="commentdiv">
                <h5>@item.AppUser.Name</h5>
                <span>@item.CreatedTime</span>
                <span><strong>@item.Subject</strong></span>
                <br />
                <input type="hidden" value="@item.Id" class="hiddenId" />
                <p>@item.Message</p>
                @if (item.AppUser.UserName == User.Identity.Name)
                {

                    <a class="reply-btn" asp-controller="Blog" asp-action="DeleteComment" asp-route-id="@Model.Blog.Id" data-text="send"><span>Delete Message</span></a>

                }

            </div>}
    }



}