@inject ILayoutService layoutService

@{
    Dictionary<string, string> settings = await layoutService.GetSettingsAsync();
   



 }



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gosto - Premium WordPress Theme</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/style.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>



    <!-- header phone -->
    <section class="phone-header">

        <div class="container-fluid">
            <div class="row">
                <div class="barside-phone py-3 mt-2 mb-2 ">
                    <div class="container-fluid">
                        <div class="row ">


                            <div class="col-4">
                                <div class="barside-left">

                                    <div class=" " data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling"><i class="icon-menu fa-solid fa-bars"></i></div>

                                    <div class="offcanvas offcanvas-start side-bar-left" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                                        <div class="offcanvas-header">

                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">
                                            <ul class="list-group">
                                                <li class="menu-item d-flex">
                                                    <div class="left">

                                                    </div>

                                                </li>
                                                <li class="menu-item d-flex ">
                                                    <div class="left">

                                                    </div>

                                                </li>
                                                <li class="menu-item d-flex">
                                                    <div class="left">
                                                        <a asp-controller="home" asp-action="index">Home</a>
                                                    </div>

                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="shop" asp-action="index">Shop</a>
                                                    </div>
                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="blog" asp-action="index">Blog</a>
                                                    </div>
                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="wishlist" asp-action="index">Wishlist</a>

                                                    </div>
                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="about" asp-action="index">About</a>

                                                    </div>
                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="contact" asp-action="index">Contact</a>

                                                    </div>
                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="account" asp-action="login">Login</a>

                                                    </div>
                                                </li>
                                                <li class="menu-item">
                                                    <div class="left">
                                                        <a asp-controller="account" asp-action="register">Register</a>

                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="logo">
                                    <div class="img">
                                        <a asp-controller="home" asp-action="index"> <img src="~/assets/img/Logo/logo.png" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="barside-basket text-end ">
                                    <div class="icon d-flex justify-content-end align-items-center">
                                        <a class=" pe-1" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="icon-basket fa-solid fa-store"></i></a>
                                        <span id="count-basket"></span>
                                    </div>

                                    <div class="offcanvas offcanvas-end side-bar-right" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                        <div class="offcanvas-header">
                                            <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                        </div>
                                        <div class="offcanvas-body">

                                            <div class="basket-head">
                                                <h3>Your Cart</h3>
                                            </div>
                                            <div class="scroll">
                                                <div class="container">
                                                    <div class="" id="calc">

                                                    </div>

                                                </div>
                                                <div id="basket-list">


                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>


    <section class="header-desc overflow-hidden">
        <header class="scrl position-fixed top-0 w-100">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3">
                        <div class="left justify-content-between">
                            <select class="form-select d-inline" aria-label="Default select example">
                                <option selected>USD</option>
                                <option value="1">AUD</option>
                                <option value="2">BRL</option>
                                <option value="3">GPB</option>
                                <option value="3">DKK</option>
                            </select>

                            <select class="form-select d-inline" aria-label="Default select example">
                                <option selected>English</option>
                                <option value="1">Australia</option>
                                <option value="2">Spain</option>
                                <option value="3">Brazil</option>
                                <option value="3">France</option>
                            </select>

                            <div class="phone-header d-inline">
                                <a> @settings.First(s => s.Key == "HeadPhone").Value</a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="nav justify-content-between align-items-center">
                            <a asp-controller="home" asp-action="index">HOME</a>
                            <a asp-controller="shop" asp-action="index">SHOP</a>
                            <div class="dropdown">
                                <div class="default d-flex align-items-center">
                                    <a class="hr">PAGES</a>
                                </div>
                                <div class="db-contect">
                                    <a asp-controller="ourteam" asp-action="index">Our Team</a>
                                    <a asp-controller="account" asp-action="profile">My Account</a>
                                    <a asp-controller="wishlist" asp-action="index">Wishlist</a>
                                </div>
                            </div>
                            <a class="big" asp-controller="home" asp-action="index"><img src="~/assets/img/Logo/@settings.First(s => s.Key == "HeadLogo").Value" alt=""></a>
                            <a asp-controller="blog" asp-action="index">BLOG</a>
                            <a asp-controller="about" asp-action="index">ABOUT</a>
                            <a asp-controller="contact" asp-action="index">CONTACT</a>
                        </div>
                    </div>

                    <div class="col-lg-3">
                        <div class="row">
                            <div class="right text-end ">
                                <div class="al d-flex align-items-center">
                                    <a class="me-3" asp-controller="account" asp-action="login">Login</a>
                                    <a class="me-4" asp-controller="account" asp-action="register">Register</a>
                                    <input class="me-2" type="text" placeholder="search">
                                    <div class="barside-wish me-4">
                                        <div class="icon">
                                            <a asp-controller="wishlist" asp-action="index" class="fs-3  px-3"><i class="fs-3 fa-regular fa-heart"></i></a>
                                            <span id="count-wishlist"></span>
                                        </div>

                                    </div>
                                    <div class="basket me-4">
                                        <div class="icon">
                                            <a asp-controller="basket" asp-action="GetFromBasket" class="fs-3  px-3"><i class="fs-3 fa-solid fa-store"></i></a>
                                            <span class="count"></span>
                                        </div>
                                    </div>





                                </div>

                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </header>
    </section>
    <hr>



    @RenderBody()





    <section>
        <div class="subscribe text-center ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h4>OUR NEWSLETTER</h4>
                        <h3>@settings.First(s => s.Key == "SubsTitle").Value</h3>
                        <p class="subs-description">
                            @settings.First(s => s.Key == "SubDesc").Value
                        </p>
                        <div class="input ">
                            <input class="inpt" type="email" name="" id="" placeholder="Your email address">
                            <input class="smbt" type="submit" value="Subscribe">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <section class="footer-area bg_cover">
            <div class="footer-widget pt-30 pb-70">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-12">
                            <div class="footer-link-wrapper d-flex flex-wrap justify-content-between ">
                                <div class="footer-link mt-50 ">
                                    <h4 class="footer-title">Information</h4>

                                    <ul class="link">
                                        <li><a asp-controller="shop" asp-action="index">Product</a></li>
                                        <li><a asp-controller="shop" asp-action="index">Shop</a></li>
                                        <li><a asp-controller="about" asp-action="index">About us</a></li>
                                        <li><a asp-controller="contact" asp-action="index">Contact us</a></li>
                                    </ul>
                                </div>

                                <div class="footer-link mt-50">
                                    <h4 class="footer-title">About Us</h4>
                                    <ul class="link">
                                        <li><a asp-controller="about" asp-action="index">About Our Shop</a></li>
                                        <li><a asp-controller="ourteam" asp-action="index">Our Team </a></li>
                                        <li><a asp-controller="about" asp-action="index">Delivery infomation</a></li>
                                        <li><a asp-controller="contact" asp-action="index">Store Locations</a></li>
                                    </ul>
                                </div>
                                <div class="footer-link mt-50">
                                    <h4 class="footer-title">LOOKING FOR GOSTO?</h4>
                                    <ul class="link">

                                        <li><a><i class="fas fa-map-marker-alt"></i> @settings.First(s => s.Key == "FooAdress").Value</a></li>
                                        <li> <a href="tell:@settings.First(s => s.Key == "FooPhone").Value"><i class="fas fa-phone"></i>@settings.First(s => s.Key == "FooPhone").Value</a></li>
                                        <li><a href="@settings.First(s => s.Key == "FooEmail").Value"><i class="fas fa-envelope"></i>@settings.First(s => s.Key == "FooEmail").Value</a></li>
                                        <li><a><i class="far fa-clock"></i> @settings.First(s => s.Key == "FooTime").Value</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="footer-copyright align-items-center">
                <div class="container">
                    <div class="footer-copyright-payment text-center d-lg-flex justify-content-between align-items-center">
                        <div class="copyright-text">
                            <p>Copyright 2020 &copy; <a>HasThemes</a> . All Rights Reserved</p>
                        </div>
                        <div class="payment">
                            <img src="~/assets/img/Footer/payment.png" alt="payment">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </footer>


    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="~/assets/js/shop.js"></script>
    <script src="~/assets/js/shop-detail.js"></script>
    <script src="~/assets/js/about.js"></script>
    <script src="~/assets/js/blog-detail.js"></script>
    <script src="~/assets/js/wishlist.js"></script>
    <script src="~/assets/js/custom.js"></script>




</body>
</html> 