@model DashboardVM
@{ ViewData["Title"] = "Index"; }



<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="manage" asp-controller="dashboard" asp-action="index">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

  
                    <!-- Customers Card -->
                    <div class="col-xxl-4 col-xl-12">

                        <div class="card info-card customers-card">

                         

                            <div class="card-body">
                                <h5 class="card-title">Customers <span>| This Year</span></h5>

                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                                        <i class="bi bi-people"></i>
                                    </div>
                                    <div class="ps-3">
                                        <h6>@Model.AppUsers.Count()</h6>
                                        

                                    </div>
                                </div>

                            </div>
                        </div>

                    </div><!-- End Customers Card -->
        
                    <!-- Recent Sales -->
                    <div class="col-12">
                        <div class="card recent-sales overflow-auto">

                           

                            <div class="card-body">
                                <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                                <table class="table table-borderless ">
                                    <thead>
                                        <tr>

                                            <th scope="col">User Name</th>
                                            <th scope="col">User Email</th>
                                            <th scope="col">Comment Blog Title</th>
                                            <th scope="col">Comment Subject</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                            @foreach (Comment comment in Model.Comments)
                                            {
                                        <tr>

                                            <td>@comment.AppUser.Name</td>
                                            <td>@comment.AppUser.Email</td>
                                            <td>@comment.Blog.Title</td>
                                            <td><a class="text-primary">@comment.Subject</a></td>

                                        </tr>
                                            }
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Recent Sales -->
                    <!-- Top Selling -->
                    <div class="col-12">
                        <div class="card top-selling overflow-auto">

                         

                            <div class="card-body pb-0">
                                <h5 class="card-title"> Top Selling Product<span>| Month</span></h5>

                                <table class="table table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Image</th>
                                            <th scope="col">BarCode</th>
                                            <th scope="col">Product</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Count</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (Product product in Model.SellingProduct)
                                        {

                                    <tr>
                                        <th scope="row"><a href="#"><img src="~/assets/img/Product/@product.MainImage" alt=""></a></th>
                                        <td class="fw-bold">@product.Barcode</td>
                                        <td><a class="text-primary fw-bold">@product.Title</a></td>
                                        <td>$@product.Price</td>
                                        <td>@product.Count</td>
                                  

                                    </tr>
                                        }
                                                </tbody>
                                </table>

                            </div>

                        </div>
                    </div><!-- End Top Selling -->

                </div>
            </div><!-- End Left side columns -->
            <!-- Right side columns -->
            <div class="col-lg-4">
  
                <!-- News & Updates Traffic -->
                <div class="card">
              
                    <div class="card-body pb-0">
                        <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

                        <div class="news">

                            @foreach (Blog blog in Model.Blogs.TakeLast(6))
                            {
                                <div class="post-item clearfix">
                                    <img src="~/assets/img/Blog/@blog.Image" alt="">
                                    <h4><a href="#">@blog.Title</a></h4>
                                    <p>@blog.Description1</p>
                                </div>

                             } 




                        </div><!-- End sidebar recent posts-->

                    </div>
                </div><!-- End News & Updates -->

            </div><!-- End Right side columns -->

        </div>
    </section>

</main><!-- End #main -->
