@model OurTeam

@{
    ViewData["Title"] = "Index";
}
<div style=" width: 86%; margin-left: 17%; margin-top: 5%;">

    <h1>Our Team</h1>

    <div>

        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.BackImage)
            </dt>
            <dd class="col-sm-10">
                <img width="100" src="~/assets/img/Our-team/@Model.BackImage" alt="Alternate Text" />

            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDeleted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDeleted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreatBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreatBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdateAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdateAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.UpdateBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.UpdateBy)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeletedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeletedAt)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeletedBy)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeletedBy)
            </dd>
        </dl>
    </div>
    <div>
        <a class="btn btn-dark" asp-action="update" asp-route-id="@Model.Id">Edit</a> |
        <a class="btn btn-dark" asp-action="Index">Back to List</a>
    </div>
    </div>