@model ShopVM
@{ ViewData["Title"] = "Index"; }

<section>
    <div class="shop-list">
        <div class="containerr">
            <div class="row">


                <div class="col-lg-12">
                    <div class="path">
                        <a class="d-inline" asp-controller="home" asp-action="index">Home</a>
                        /
                        <a class="d-inline">Product</a>
                    </div>
                </div>


                <div class="col-lg-2">

                    <div class="product-category">
                        <div class="box">
                            <div class="txt align-items-center d-flex justify-content-between">
                                <h5>PRODUCT CATEGORIES</h5>
                            </div>
                            <div class="bdy">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox">
                                        <a href="">All Categories (@Model.Products.Count())</a>
                                    </label>
                                </div>   @foreach (var productCategory in Model.ProductCategories)
                                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            <a href="">@productCategory.Name (@productCategory.Products.Count())</a>
                        </label>
                    </div>}


                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="brands">
                        <div class="box">
                            <div class="txt align-items-center d-flex justify-content-between">
                                <h5>FILTER BY BRANDS</h5>
                            </div>
                            <div class="bdy">
                                @foreach (var brand in Model.Brands)
                                {
                    <div class="checkbox">
                        <label>
                            <input type="checkbox">
                            <a href="">@brand.Name</a>
                        </label>
                    </div>}


                            </div>
                        </div>

                    </div>

                    <hr>

                    <div class="color">
                        <div class="box">
                            <div class="txt align-items-center d-flex justify-content-between pb-3">
                                <h5>FILTER BY COLOR</h5>
                            </div>
                            <div class="bdy">

                                @foreach (var color in Model.Colors)
                                {
                    <div class="chk align-items-center">
                        <div class="sb-checkbox">
                            <input type="checkbox" class="sb-checkbox__input" id="@color.Id" name="@color.Name">
                            <label class="sb-checkbox__label sb-checkbox__label--@color.Name.ToLower()" for="@color.Name">
                            </label>
                        </div>
                        <a href="">@color.Name</a>
                    </div>
                                    <br>}



                            </div>


                        </div>

                    </div>

                    <hr>

                    <div class="price">
                        <div class="box">
                            <div class="txt align-items-center d-flex justify-content-between pb-3">
                                <h5>FILTER BY PRICE</h5>
                            </div>
                            <div class="bdy">

                                <price-range currency="$">
                                    <div>
                                        <div>
                                            <input name="price-from"
                                                   type="range"
                                                   min="0"
                                                   max="1000"
                                                   step="1"
                                                   value="25"
                                                   aria-label="From" />
                                            <input name="price-to"
                                                   type="range"
                                                   min="0"
                                                   max="1000"
                                                   step="1"
                                                   value="75"
                                                   aria-label="To" />
                                        </div>
                                    </div>
                                    <output>
                                        output
                                    </output>
                                </price-range>


                            </div>
                        </div>
                    </div>






                </div>

                <div class="col-lg-9">
                    <div class="result text-end">
                        <span>Showing 1-12 of 84 results</span>
                        <select class="ms-4 " name="" id="">
                            <option selected value="">Short by Latest</option>
                            <option value="">Short by Oldest</option>
                            <option value="">Short by Name</option>
                            <option value="">Short by Price</option>
                        </select>
                    </div>

                    <div class="product mt-5">
                        <div class="row">
                            @await Html.PartialAsync("_ProductListPartial", Model.Products)
                            <div class="row">
                                <div class="col-lg-12">
                                    <nav aria-label="Page navigation example">
                                        <ul class="pagination">
                                            @if (ViewBag.pageIndex > 1)
                                            {
                                <li class="page-item"><a class="page-link"  asp-controller="shop" asp-action="index" asp-route-pageIndex="@ViewBag.pageIndex-1)">Previous</a></li>
}
                                            @for (int i = 1; i <= ViewBag.totalpages; i++)
                                            {
                                <li class="page-item"><a class="page-link"  asp-controller="shop" asp-action="index" asp-route-pageIndex="@i">@i</a></li>
}

                                            @if (ViewBag.pageIndex < ViewBag.totalPages)
                                            {
                                <li class="page-item"><a class="page-link"  asp-controller="shop" asp-action="index" asp-route-pageIndex="@(ViewBag.pageIndex+1)">Next</a></li>
}
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






