@model BlogVM
@{
    ViewData["Title"] = "BlogDetail";
}



<section>
    <div class="blog-detail ">
        <div class="containerr">
            <div class="row">
                <div class="col-lg-12">
                    <div class="path">
                        <a class="d-inline" asp-controller="home" asp-action="index">Home</a>
                        /
                        <a class="d-inline blog-category" >
                            Shopping
                        </a>
                        /
                        <p class="d-inline blog-name">@Model.Blog.Title</p>
                    </div>
                </div>

                <div class="col-lg-8">
                    <div class="blog-details">
                        <div class="blog-details-img">
                            <img src="~/assets/img/Blog/@Model.Blog.Image" alt="blog-details">
                        </div>
                        <div class="blog-details-content">
                            <h2>@Model.Blog.Title</h2>
                            <h6>@Model.Blog.Author  /  @Model.Blog.BlogTime.ToString("M MMMM yyyy")  /  <i class="fa fa-comments-o"></i> 4</h6>
                            <p>@Model.Blog.Description1</p>
                            <p>@Model.Blog.Description2</p>
                            <p class="quote">@Model.Blog.DescQuota</p>
                            <p>@Model.Blog.Description3</p>
                        </div>
                        <div class="reply-area">
                            <h3>LEAVE A REPLY</h3>
                            <p>I must explain to you how all this a mistaken idea of ncing great explorer of the rut<br> the is lder of human happinescias unde omnis iste natus error sit volptatem </p>
                            <form id="contact-form" action="http://demo.devitems.com/eduhome/mail.php" method="post">
                                <div class="row">
                                    <div class="col-md-12">
                                        <p>Name</p>
                                        <input type="text" name="name" id="name">
                                    </div>
                                    <div class="col-md-12">
                                        <p>Email</p>
                                        <input type="text" name="email" id="email">
                                    </div>
                                    <div class="col-md-12">
                                        <p>Subject</p>
                                        <input type="text" name="subject" id="subject">
                                        <p>Massage</p>
                                        <textarea name="message" id="message" cols="15" rows="10"></textarea>
                                    </div>
                                </div>
                                <a class="reply-btn" href="#" data-text="send"><span>send message</span></a>
                                <p class="form-messege"></p>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar right ms-5">
                        <div class="single-blog-widget mb-47">
                            <h3>search</h3>
                            <div class="blog-search">
                                
                                <form id="search" action="#">
                                    <input style="outline:none" class="text-start searchInput" type="search" placeholder="Search blog" name="search" />
                                </form>
                                <ul class="searchList container" id="searcPar" style="background-color:white;z-index:123;width:70%;height:auto;text-decoration:none !important;border:1px solid;position:absolute;">
                                </ul>
                              
                            </div>
                        </div>
                        <div class="single-blog-widget mt-5 category mb-47">
                            <h4>Categories</h4>
                            <ul>
                                @foreach (var blogCategory in Model.BlogCategories)
                                {
                                   

                                        <li><a asp-controller="blog" asp-action="CategoryFindBlog" asp-route-id="@blogCategory.Id">@blogCategory.Name ()</a></li>
                                
                                }

                            </ul>
                        </div>
                        <div class="single-blog-widget mb-47 latest-post pb-3">

                            @foreach (var blog in Model.Blogs.OrderByDescending(b => b.Id).Take(1))
                            {

                                <div class="single-blog-banner">
                                    <div class="img">
                                        <a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id" id="blog"><img src="~/assets/img/Blog/@blog.Image" alt="blog"></a>
                                    </div>
                                    <p class="blog-name text-center mt-2">@blog.Title</p>
                                </div>
                            }
                            <h4>latest post</h4>

                            @foreach (var blog in Model.Blogs.OrderByDescending(b => b.Id).Take(3))
                            {
                            <div class="single-post mb-30">
                                <div class="row">
                                    <div class="single-post-img">
                                        <a  asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id">
                                            <img src="~/assets/img/Blog/@blog.Image" alt="post">

                                        </a>
                                    </div>
                                    <div class="single-post-content w-50">
                                        <h5><a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id">@blog.Title.Substring(0,26)</a></h5>
                                        <p> @blog.Author / @blog.BlogTime.ToString("M MMMM yyyy")  </p>
                                    </div>
                                </div>
                            </div>

                            }

                        </div>
                        <div class="single-blog-widget tag">
                            <h4>TAGS CLOUD</h4>
                            <div class="single-tag">

                                @foreach (var bTag in Model.BTags)
                                {
                                <a asp-controller="blog" asp-action="tagfindblog" asp-route-id="@bTag.Id">@bTag.Name</a>

                                }
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


