@model BlogVM
@{ ViewData["Title"] = "Index";
    }



<section>
    <div class="blog-list">
        <div class="containerr">
            <div class="row">
                <div class="col-lg-12">
                    <div class="path">
                        <a class="d-inline" asp-controller="home" asp-action="index">Home</a>
                        /
                        <a class="d-inline">Blog</a>
                    </div>
                </div>

                <div class="col-lg-8">


                    @foreach (var blog in Model.Blogs)
                    {

                <div class="col-lg-4">
                    <div class="card">
                        <div class="img">
                            <a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id">

                                <img src="~/assets/img/Blog/@blog.Image" class="card-img-top" alt="">
                            </a>
                        </div>
                        <div class="card-body">
                            <span class="blog-category"><a href="" tabindex="0">@blog.BlogCategory.Name</a></span>
                            <a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id"><h5 class="card-title">@blog.Title</h5></a>
                            <p class="card-text">
                                @if (blog.Description1.Length > 60)
                                {
                @blog.Description1.Substring(0, 60);
            }
            else
            {
                @blog.Description1}
                            </p>
                            <p class="blog-date">Post Date <span>@blog.BlogTime.ToString("M MMMM yyyy")</span></p>
                        </div>
                    </div>
                </div>}

                    <div class="col-lg-12">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                @if (ViewBag.pageIndex > 1)
                                {
                    <li class="page-item"><a class="page-link" asp-controller="blog" asp-action="index" asp-route-pageIndex="@ViewBag.pageIndex-1)">Previous</a></li>}
                                @for (int i = 1; i <= ViewBag.totalpages; i++)
                                {
                    <li class="page-item"><a class="page-link" asp-controller="blog" asp-action="index" asp-route-pageIndex="@i">@i</a></li>}

                                @if (ViewBag.pageIndex < ViewBag.totalPages)
                                {
                    <li class="page-item"><a class="page-link" asp-controller="blog" asp-action="index" asp-route-pageIndex="@(ViewBag.pageIndex+1)">Next</a></li>}
                            </ul>
                        </nav>
                    </div>
                </div>


                    <div class="col-lg-4">
                        <div class="blog-sidebar right ms-5">
                   
                            <div class="single-blog-widget mt-5 category mb-47">
                                <h4>Categories</h4>
                                <ul>

                                    @foreach (var blogCategory in Model.BlogCategories)
                                    {
                                    @if (blogCategory.Blogs.Count() > 0)
                                    {

                                  

                        <li><a asp-controller="blog" asp-action="CategoryFindBlog" asp-route-id="@blogCategory.Id">@blogCategory.Name (@blogCategory.Blogs.Count())</a></li>}
                                    }
                                </ul>
                            </div>
            
                            <div class="single-blog-widget tag">
                                <h4>TAGS CLOUD</h4>
                                <div class="single-tag">

                                    @foreach (var bTag in Model.BTags)
                                    {
                            
                                <a asp-controller="blog" asp-action="tagfindblog" asp-route-id="@bTag.Id">@bTag.Name</a>}
                                        
                                            </div>
                            </div>
                        </div>
                    </div>

                </div>
        </div>
    </div>
    </section>





