@model BlogVM
@{
    ViewData["Title"] = "TagFindBlog";
}


<section>
    <div class="blog-list" style="margin-top:3%">
        <div class="containerr">
            <div class="row">

                <div class="col-lg-8">
                    @foreach (var blog in Model.Blogs)
                    {

                        <div class="col-lg-4">
                            <div class="card">
                                <div class="img">
                                    <a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id">

                                        <img src="~/assets/img/Blog/@blog.Image" class="card-img-top" alt="">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <span class="blog-category"><a href="" tabindex="0">@blog.BlogCategory.Name</a></span>
                                    <a asp-controller="blog" asp-action="blogdetail" asp-route-id="@blog.Id"><h5 class="card-title">@blog.Title</h5></a>
                                    <p class="card-text">
                                        @if (blog.Description1.Length > 60)
                                        {
                                            @blog.Description1.Substring(0, 60);
                                        }
                                        else
                                        {
                                            @blog.Description1}
                                    </p>
                                    <p class="blog-date">Post Date <span>@blog.BlogTime.ToString("M MMMM yyyy")</span></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="col-lg-4">
                    <div class="blog-sidebar right ms-5">
             
                        <div class="single-blog-widget mt-5 category mb-47">
                            <h4>Categories</h4>
                            <ul>
                                @foreach (var blogCategory in Model.BlogCategories)
                                {
                                    @if (blogCategory.Blogs.Count() > 0)
                                    {


                                        <li><a asp-controller="blog" asp-action="CategoryFindBlog" asp-route-id="@blogCategory.Id">@blogCategory.Name (@blogCategory.Blogs.Count())</a></li>
                                    }
                                }

                                </ul>
                        </div>

                        <div class="single-blog-widget tag">
                            <h4>TAGS CLOUD</h4>
                            <div class="single-tag">

                                @foreach (var bTag in Model.BTags)
                                {
                                    <a asp-controller="blog" asp-action="tagfindblog" asp-route-id="@bTag.Id">@bTag.Name</a>}

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
