@model ProfileVM
@{
    ViewData["Title"] = "Profile";
}




    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-area="manage" asp-controller="dashboard" asp-action="index">Home</a></li>
                    <li class="breadcrumb-item">Users</li>
                    <li class="breadcrumb-item active">Profile</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row">
                <div class="col-xl-4">

                    <div class="card">
                        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
                            @if (Model.UserImage != null)
                            {

                                <img src="~/manage/img/user/@Model.UserImage" alt="Profile" class="rounded-circle">
                            }
                            else
                            {
                                <img src="~/manage/img/user/nulluser.jpg" alt="Profile" class="rounded-circle">

                            }
                            <h2>@Model.UserName</h2>
                            <h3>@Model.Job</h3>

                        </div>
                    </div>

                </div>

                <div class="col-xl-8">

                    <div class="card">
                        <div class="card-body pt-3">
                      
                            <div class="tab-content pt-2">

                                <div class="tab-pane fade show active profile-overview" >


                                    <h5 class="card-title">Profile Details</h5>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">Name</div>
                                        <div class="col-lg-9 col-md-8">@Model.Name</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label ">User Name</div>
                                        <div class="col-lg-9 col-md-8">@Model.UserName</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Job</div>
                                        <div class="col-lg-9 col-md-8">@Model.Job</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Country</div>
                                        <div class="col-lg-9 col-md-8">@Model.Country</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Address</div>
                                        <div class="col-lg-9 col-md-8">@Model.Adress</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Phone</div>
                                        <div class="col-lg-9 col-md-8">@Model.Phone</div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-3 col-md-4 label">Email</div>
                                        <div class="col-lg-9 col-md-8">@Model.Email</div>
                                    </div>

                                </div>

                         


                         

                            </div><!-- End Bordered Tabs -->

                        </div>
                    </div>

                </div>
            </div>
        </section>

    </main><!-- End #main -->



