@model HomeVM
@{
    ViewData["Title"] = "Index";
}

<div class="back-to-top" id="back-to-top"><a href="#"><i class="fas fa-chevron-up"></i></a></div>

<section class="overflow-hidden">
    <div class="row">
        <div class="slider">
            @foreach (var slider in Model.Sliders)
            {
                <div class="card">
                    <div class="text">
                        <span>LET'S GO OUTSIDE</span>
                        <h3 class="slider-tittle"> @slider.Title </h3>
                        <p class="slider-desc"> @slider.Description</p>
                    </div>

                    <div class="img">
                        <img src="~/assets/img/Slider/@slider.BackImage" alt="">
                    </div>
                </div>
            }

        </div>
    </div>
</section>

<section>
    <div class="featured ">
        <div class="container">
            <div class="col-lg-12">
                <div class="all text-center">
                    <h5 class="fw-bold">EXPLORE THE CATEGORIES</h5>
                    <h3 class="fw-bold">FEATURED CATEGORIES</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="containerr">
        <div class="category-slider">
            @foreach (var productCategory in Model.ProductCategories)
            {
                <div class="card">
                    <div class="img">
                        <a href="/shop-list.html">
                            <img src="~/assets/img/Category/@productCategory.Image" class="card-img-top" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <a href="shop-list.html">
                            <p class="card-text">@productCategory.Name</p>
                        </a>
                    </div>
                </div>
            }



        </div>
    </div>
</section>

<section>
    <div class="selling">
        <div class="container">
            <div class="col-lg-12">
                <div class="all text-center">
                    <h5 class="fw-bold">EXPLORE THE LOOKBOOK</h5>
                    <h3 class="fw-bold">TOP SELLING PRODUCTS</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="selling-product  overflow-hidden">
        <div class="containerr">
            <div class="row">

                @await Html.PartialAsync("_ProductListPartial", Model.SellingProduct)

            </div>
        </div>
    </div>

</section>

<section>
    <div class="testimonial">
        <div class="containerr ">
            <div class="testimonial-slider overflow-hidden">
                @foreach (var team in Model.Teams)
                {
                    <div class="card">
                        <div class="info">
                            <div class="img">
                                <img src="~/assets/img/Our-team/@team.Image" alt="testimonial">
                            </div>
                            <div class="content mt-5">
                                <p>
                                    @Html.Raw(team.Reply)
                                </p>
                            </div>
                            <div class="author mt-5">
                                <h4>@team.FullName</h4>
                            </div>
                            <div class="position mt-5`">
                                <h5>@team.Position</h5>
                            </div>
                        </div>

                    </div>

                }



            </div>
        </div>
    </div>
</section>

<section>
    <div class="trend-product">
        <div class="containerr">
            <div class="col-lg-12">
                <div class="all">
                    <h5 class="fw-bold">EXPLORE THE LOOKBOOK</h5>
                    <h3 class="fw-bold">TOP TRENDING PRODUCTS</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="containerr">
        <div class="trending-slider  overflow-hidden">


            @await Html.PartialAsync("_ProductListPartial", Model.TrendingProduct)


        </div>
    </div>
</section>



<hr>



<section>
    <div class="blog-head">
        <div class="container">
            <div class="col-lg-12">
                <div class="all text-center">
                    <h5 class="fw-bold">EXPLORE THE BLOG</h5>
                    <h3 class="fw-bold">LATEST BLOG POSTS</h3>
                    <p>Commodo sociosqu venenatis cras dolor sagittis integer luctus maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="containerr">
        <div class="blog-slider ">
            @foreach (var blog in Model.Blogs.OrderByDescending(b => b.CreatAt).TakeLast(6))
            {
                <div class="card">
                    <div class="img">
                        <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@blog.Id">
                            <img src="~/assets/img/Blog/@blog.Image" class="card-img-top" alt="">
                        </a>
                    </div>
                    <div class="card-body">
                        <span class="blog-category"><a  tabindex="0">@blog.BlogCategory.Name</a></span>
                        <a asp-controller="Blog" asp-action="BlogDetail" asp-route-id="@blog.Id"><h5 class="card-title">@blog.Title</h5></a>
                        <p class="card-text">@blog.DescQuota</p>
                        <p class="blog-date">Post Date <span>@blog.BlogTime.ToString("M MMMM yyyy")</span></p>
                    </div>
                </div>

            }





        </div>
    </div>
</section>

<section class="overflow-hidden">
    <div class="instagram">
        <div class="containerr">
            <div class="row all">

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta1.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta2.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta3.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta4.jpg" alt="">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta5.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta6.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta7.jpg" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-6">
                    <div class="img">
                        <a href="">
                            <img src="~/assets/img/Instagram/insta1.jpg" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
